{{'''adv -f "Vow of Enmity|As a bonus action, you can utter a vow of enmity against a creature you can see within 10 feet of you, using your Channel Divinity. You gain advantage on attack rolls against the creature for 1 minute or until it drops to 0 hit points or falls unconscious." ''' if combat().me.get_effect("Vow ef Enmity") else ''}}
