-f "Meta|**DC**: {{character().spellbook.dc}}" -f "Mortal Bulwark|You have advantage on attack rolls against aberrations, celestials, elementals, fey, and fiends. And when you hit a creature with an attack roll and deal damage to it, you can also force it to make a Charisma saving throw against your spell save DC. On a failed save, the creature is magically banished to its native plane of existence if it's currently not there. On a successful save, the creature can't be banished by this feature for 24 hours."
