!snippet sw <drac2>
c = combat()
com = c.me
test = com.get_effect("Sacret weapon")
bonus = max(charismaMod,1)
retstr = f'''Sacret Weapon|As an action, you can imbue one weapon that you are holding with positive energy, using your Channel Divinity. For 1 minute, you add your Charisma modifier to attack rolls made with that weapon (with a minimum bonus of +1). The weapon also emits bright light in a 20-foot radius and dim light 20 feet beyond that. If the weapon is not already magical, it becomes magical for the duration.'''
if test:
  return f'''-d {bonus} -f "{retstr}" '''
</drac2>
