# To add the explanation for Invincibe conquerer and crit on 19.
-f "Invincible Conquerer|When you take the Attack action on your turn, you can make one additional attack as part of that action. And Your melee weapon attacks score a critical hit on a roll of 19 or 20 on the d20." -criton 19
