# To add the desc of why you're using a bonus action for your spells.
-f "Elder Champion|Whenever you cast a paladin spell that has a casting time of 1 action, you can cast it using a bonus action instead."
